$darkSquares: #0a7538;
$lightSquares: #e8e8d0;
$boardSize: 800px;
$squareSize: 100px;

.boardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: inline-flex;
  flex-wrap: wrap;
  width: $boardSize;
}

.boardRow {
  display: flex;
}

.square {
  width: $squareSize;
  height: $squareSize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: $darkSquares;
}

.light {
  background-color: $lightSquares;
}