@import "_variables.module";

$darkSquares: #0a7538;
$lightSquares: #e8e8d0;
$activeSquare: #e37b7b;

.square {
	position: relative;
	width: $squareSize;
	height: $squareSize;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dark {
	background-color: $darkSquares;
}

.light {
	background-color: $lightSquares;
}

.activeSquare {
	background-color: $activeSquare;
}

.pieceContainer {
	z-index: 2;
}

.indicatorContainer {
	z-index: 1;
}

.validMoveIndicator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: $squareSize / 3;
	height: $squareSize / 3;
	background-color: #000;
	opacity: 0.25;
	border-radius: 50%;
}

.captureIndicator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 85%;
	height: 85%;
	border: 5px solid #000;
	border-radius: 50%;
	opacity: 0.4;
}
