@import "_variables.module";

$darkSquares: #0a7538;
$lightSquares: #e8e8d0;
$activeSquare: #e37b7b;

.square {
  width: $squareSize;
  height: $squareSize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: $darkSquares;
}

.light {
  background-color: $lightSquares;
}

.activeSquare {
  background-color: $activeSquare;
}