@import "_variables.module";

$darkSquares: #0a7538;
$lightSquares: #e8e8d0;
$activeSquare: #e37b7b;

.square {
  width: $squareSize;
  height: $squareSize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: $darkSquares;
}

.light {
  background-color: $lightSquares;
}

.activeSquare {
  background-color: $activeSquare;
}

.validMoveIndicator {
  width: $squareSize / 3;
  height: $squareSize / 3;
  background-color: #000;
  opacity: 0.25;
  border-radius: 50%;
}

.captureIndicator {
  width: 80%;
  height: 80%;
  border: 3px solid #000;
  border-radius: 50%;
  opacity: 0.25;
}
